@model UpdateRoleViewModel

@{
    ViewData["Title"] = "Edit Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="my-5 w-75">Edit Role: @Model.Name</h1>

<div asp-validation-summary="All" class="text-danger mb-3"></div>

<form asp-action="Update" method="post" class="w-75">
    <div class="row">
        <div class="form-group col-6 mb-3">
            <label class="col-form-label" asp-for="Id"></label>
            <input asp-for="Id" class="form-control" readonly />
        </div>

        <div class="form-group col-12 mb-3">
            <label class="form-label" asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>


    <div class="mt-4 d-flex justify-content-between">
        <div>
            <button type="submit" class="btn btn-warning">Save Changes</button>
            <a asp-action="Index" class="btn btn-outline-dark ms-2">Back To List</a>
        </div>

        <a asp-action="AddOrRemoveUser"
           asp-route-id="@Model.Id"
           class="btn btn-info">
            <i class="fas fa-user-cog"></i> Manage Users
        </a>
    </div>
</form>

@section ValidationScripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
